node_modules/

package-lock.json
pnpm-lock.yaml

.next/
dist/
build/
.next/*

.env
.env.local
.env.development
.env.production

*.log

.DS_Store
Thumbs.db

.vscode/
.idea/

debug.log

*.js
*.map
*.d.ts

*.tmp
*.temp
